.character-pixel {
    font-size: var(--text-2);
    color: var(--gray-darker);
    /* opacity: 15%; */
    width: min-content;
    height: min-content;
    padding: var(--s1);
    display: inline-block;
}

.character-pixel.hidden {
    visibility: hidden;
    position: absolute;
}